body {
  background-image:url('space.gif'); background-repeat:no-repeat; color:cyan;
}

{
  margin:0px;
}
.center {
  margin: 40px;
}
.topbar{
  overflow: hidden;
  background: #C8CBD0;
  box-shadow: 0px 4px 0 0 #4D5259;
}

.topbar a {
  background: #748E54;
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  box-shadow: 4px 0px 0 0 #54673C;
}

.topbar a:hover {
  background-color: #92AC72;
  color: black;
}

.topbar a.active {
  background-color: #4CAF50;
  color: white;
}

.round{
  font-size: 12px;
  color: #4D5259;
  line-height: 1.5;
  font-weight: bold;
  padding: .5em 2em;
  background: DeepPink;
  background-size:300px;
  border: 2px solid #4D5259;
  box-shadow: 4px 4px 0 0 #4D5259;
  border-radius: 100px;
  outline:0;
  transition: ease all .1s;
} 

.round:active {
  transform: translateY(4px) translateX(4px);
  box-shadow: 0px 0px 0 0 #4D5259;
}
.round:hover {
  background: #d3d3d3;
}

.settings {
  font-size: 10px;
  color: #4D5259;
  line-height: 1.5;
  font-weight: bold;
  padding: .5em 2em;
  background: #FFFFFF;
  border: 2px solid #4D5259;
  box-shadow: 4px 4px 0 0 #4D5259;
  outline:0;
}

.settings:active {
  transform: translateY(4px) translateX(4px);
  box-shadow: 0px 0px 0 0 #4D5259;
}
.settings:hover {
  background: #d3d3d3;
}


*
  box-sizing border-box
  animation  fadeIn .5s

random(a, b)
  return math(math(0, 'random') * (b - a + 1) + a, 'floor')

@keyframes fadeIn
  from
    opacity 0
  to
    opacity 1

@keyframes shower
  0%
    transform rotate(30deg) scaleY(0)
    opacity 0
  65%
    transform rotate(30deg) scaleY(1)
    opacity 1
  100%
    transform rotate(30deg) scaleY(1) translateY(500%)
    opacity 0

$meteor-width = 2px
$meteor-length = 60px
$meteor-color  = #fff

.meteor
  border $meteor-width solid transparent
  border-bottom $meteor-length solid $meteor-color
  position absolute
  transform-origin top right
  animation shower .5s
  opacity 0

  &:after
    content ''
    position absolute
    top $meteor-length - $meteor-width
    left 50%
    height $meteor-width * 2px
    width $meteor-width * 2px
    border-radius 100%
    background $meteor-color
    transform translateX(-50%)
    box-shadow  0 0 15px 0 $meteor-color

.star
  display inline-block
  border-radius 100%
  background-color yellow
  position absolute
  opacity .5

for $star in 0..20
  .star:nth-child({$star})
    $size = random(1, 4) * 1px
    $x    = random(0, 100) * 1vw
    $y    = random(0, 100) * 1vh
    height $size
    width  $size
    opacity math(0, 'random')
    left $x
    top $y

for $meteor in 0..10
  .meteor:nth-child({$meteor})
    $x    = random(0, 100) * 1vw
    $y    = random(0, 100) * 1vh
    left $x
    top $y
    $delay = random(3, 15) * 1s
    animation-delay $delay


body
  overflow hidden
  background radial-gradient(ellipse farthest-corner at 10vw 95vw, #111 0%, #222 50%, #111 95%)
  &:before
    content ''
    position absolute
    bottom 0
    width 30vw
    height 10vh
    left 0
    background black
    z-index 1
    border-radius 50% 50% 0 0
  &:after
    content ''
    position absolute
    bottom 0
    right 0
    width 80vw
    height 15vh
    background black
    z-index 1
    border-radius 50% 50% 0 0
